@import "../../styles/base.scss";

.about-section {
  background-color: $section-bg;
  text-align: center;
  padding: $section-padding;
}

.text-box {
  width: 90%;
  margin: auto;

  p {
    font-size: 20px;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;

  }
}

.side-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-section {
    text-align: left;
    display: flex;
    // position: relative;
    min-height: 120vh;
    // height: 100%;
    padding: 0;
  }

  .text-box {
    width: 40%;
    padding: 50px 0;
    p {
      font-size: 28px;
    }
  }
  .side-image {
    display: block;
    width: 45%;
    overflow: hidden;
    height: inherit;
    position: relative;
    background-image: url("../../assets/images/aboutus.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
  }
}
