@import "../../styles/base.scss";

.card {
  width: 237px;
  height: 230px;
  margin: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.figure {
  font-size: 82px;
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .card {
    width: 289px;
    height: 289px;
    margin: 30px;
  }
}
