@import "../../styles/base.scss";

.product {
  text-align: center;
  margin: 50px 0;
  //   padding:
}

.detail-wrap {
  width: 80%;
  margin: 50px auto;
}

.product-image {
  width: 100%;
  height: 230px;
  border-radius: 8px;
  object-fit: cover;
}

.product-title {
  font-size: 17px;
  font-weight: 600;
  color: $hgreen;
  margin: 20px 0;
}

.product-desc {
  font-size: 12px;
  color: $text-green;
  margin: 10px 0;
  line-height: 23px;
  font-family: 'Times New Roman', Times, serif;

}
// .left-to-right{

// }

@media screen and (min-width: 768px) {
  .product {
    text-align: left;
  }
  .detail-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .product-image {
    width: 300px;
    height: 300px;
  }

  .product-text {
    width: 40%;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .product-image {
    // width: 500px;
    height: 350px;
    flex: 0.45;
  }

  .product-text {
    // width: 450px;
    flex: 0.45;
  }
  .product-title {
    font-size: 21px;
  }
  .product-desc {
    font-size: 16px;
    line-height: 30px;
  }
}
