@import "../../styles/base.scss";

.icon-text-box {
  width: 260px;
  margin: 30px auto;

  h3 {
    text-transform: uppercase;
    margin: 0 0;
  }

  p {
    line-height: 23px;
    font-size: 16px;
  }
}

.icon-circle {
  background-color: $flash;
  width: 56.7px;
  height: 56.7px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .icon-text-box {
    // margin: 30px auto 50px;
  }
}

@media screen and (min-width: 1024px) {
  .icon-text-box {
    width: 380px;

    h3 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
      line-height: 35px;
    }
  }

  .icon-circle {
    margin-bottom: 25px;
  }
}
